<!doctype html>
<html lang="{{{lang}}}">
<head>
<title>{{{appName}}}</title>
<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div>other</div>
{{{body}}}

<script src="/scripts/script.js"></script>
</body>
</html>